* {
    box-sizing: border-box;
}

body {
    background-color: #eedfc7;
    background-size: cover;
    margin: 0px;
    font-family: Arial;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*
.banner-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}


.banner-slide img {
    width: 100%;
    height: auto;
}

.banner-slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
*/

.banner-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #ff4500;
    text-decoration: none;
    border-radius: 5px;
}

header {
    height: auto;
    text-align: center;
}

nav {
    background-color: rgb(195, 178, 160);
    font-family: Arial;
    text-align: center;
    height: auto;
}

nav a {
    display: inline-block;
    padding: 14px 16px;
    color: rgb(118, 104, 88);
    border-radius: 8px;
}

nav a:hover {
    background-color: rgb(147, 130, 114);
    color: white;
}

.nav1 {
    position: fixed;
    background-color: rgba(186, 171, 157, 0.576);
    float: right;
    height: 240px;
    padding: 0px;
    border-radius: 15px;
    opacity: 0px;
}

.nav1 a:hover {
    background-color: rgba(138, 119, 100, 0.576);
}

footer {
    background-color: rgb(195, 178, 160);
    text-align: center;
    padding: 8px;
    color: rgb(118, 104, 88);
}

main {
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

article {
    float: left;
    width: 70%;
}

table {
    background-size: cover;
    padding: 30px;
    margin: 20px 10px;
    border-radius: 15px;
    text-align: center;
}

.font {
    color:rgb(118, 104, 88);
}

.font1 {
    text-align: center;
    color:rgb(118, 104, 88);
}

.font2 {
    text-align: right;
    color:rgb(118, 104, 88);
}

.font3 {
    text-align: left;
    color:rgb(118, 104, 88);
}

.form_area{
    text-align: left;
    border-radius: 15px;
}

.form_button{
    border-style: none;
    height: 80px;
    width: 150px;
    background-color: #f5eccd;
    font-weight: bold;
}

form table{
    border-collapse: collapse;
    height: 200px;
    width: 90%;
    text-align: center;
    background-color: #EFE6DD;
    color:rgb(118, 104, 88);
    border-radius: 15px;
}

.clearfix {
    clear: both;
}

.card{
    background-size: cover;
    background-color: #b8ab9ca5;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 15px;
    text-align: center;
}

.card1{
    background-size: cover;
    background-color: #b8ab9ca5;
    padding: 10px;
    margin: 50px 10px;
    text-align: center;
    border-radius: 15px;
}

.card2{
    background-size: cover;
    background-color: #b8ab9ca5;
    padding: 30px;
    margin: 10px 10px;
    border-radius: 15px;
    text-align: left;
}

.card3{
    background-size: cover;
    background-color: #b8ab9ca5;
    padding: 3px;
    margin: 30px 0px;
    text-align: center;
}


.img{
    width: 180px;
    height: 150px;
    border-radius: 15px;
    float: left;
}

.logo{
    width: 50px;
    height: 50px;
}

.logo_section{  
    width: 150px;
    height: 150px;
    text-align: left;
}

.cart{
    height: 30px;
}

.divcenter {
    text-align: center;
}

.prev {
    text-align: right;
}

.next {
    text-align: left;
}

.card {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
}
.cart-button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #836e51;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.cart-button:hover {
    background-color: #e4d5c0;
    color: rgb(118, 104, 88);
}

.cart-button1 {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #836e51;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}
.cart-button:hover {
    background-color: #e4d5c0;
    color: rgb(118, 104, 88);
}

.product-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #836e51;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #e4d5c0;
    color: rgb(118, 104, 88);
}

.back-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #836e51;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    float: right;
}

.back-button:hover {
    background-color: #e4d5c0;
    color: rgb(118, 104, 88);
}

.item_header {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    opacity: 5px;
    background-color: rgb(195, 178, 160);
    color: white;
}

.item_header div {
    width: 200px;
    color: white;
    line-height: 30px;
}

.item_number {
    width: 5%;
    color: white;
}

.item_header .item_detail {
    width: 50%;
    color: white;
}
.item_body {
    margin-top: 20px;
    height: 100px;
    align-items: center;
    color: white;    
}
.item_detail img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    /* margin-top: 10px; */
    float: left;
}
.item_detail .name {
    margin-left: 100px;
    margin-top: 20px;
    color: white;
}

@media screen and (max-width: 800px) {
    article, 
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 15px 0px;
    }

    img {
        max-width: 100%;
        height: 90%;
    }
}